<header class="py-3 border-bottom bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a class="navbar-brand" href="/index.html">
                <img src="/images/logo.svg" alt="Get Latest Logo" height="50" class="d-inline-block align-top">
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto nav-links">
                    <li class="nav-item ms-lg-4"><a class="nav-link" href="/index.html" id="nav-home">Home</a></li>
                    <li class="nav-item ms-lg-4"><a class="nav-link" href="/about.html" id="nav-about">About Us</a></li>
                    <li class="nav-item ms-lg-4"><a class="nav-link" href="/solutions.html"
                            id="nav-solutions">Solutions</a>
                    </li>
                    <li class="nav-item ms-lg-4"><a class="nav-link" href="/results.html" id="nav-results">Results</a>
                    </li>
                    <li class="nav-item ms-lg-4"><a class="nav-link" href="/blog.html" id="nav-blog">Blog</a></li>
                    <li class="nav-item ms-lg-4">
                        <a class="nav-link btn btn-sm px-3 text-white" href="/contact.html" id="nav-contact">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>